
            
            
     
              
            <p>
                <a  role="button" (click)="cache1()">
                <img   src="/assets/images/pallt.png" width="30" alt="">
                </a>
                <a > <select   name="font-family" id="font-family" (change)="selectChangeHandler($event)" >
                  <option value="Choix de police" selected>Choix de police</option>
                  <option *ngFor="let item of fonts" [value]="item">{{item}}</option>
                </select></a>
                <a (click)="textintalic($event)"> <i class="fas fa-italic" aria-hidden="true"></i></a>
                <a (click)="textbold($event)"> <i class="fas fa-bold" aria-hidden="true"></i></a>
                <a (click)="textunderline()"> <i class="fas fa-underline" aria-hidden="true"></i></a>
                <a (click)="textoverline($event)"><i class="fal fa-overline"></i></a>
                <a (click)="text($event)"><i class="fad fa-text"></i></a>
                <a (click)="textremove()"><i class="far fa-trash-alt"></i> </a>

            
                <a role="button" (click)="cache()">
                    <i class="fas fa-text-width"></i></a>
                <a (click)="textreturn()"><i class="fas fa-undo-alt"></i></a>
              
                <a (click)="copy()"><i class="far fa-copy"></i></a>
                <a (click)="paste()"><i class="fas fa-paste"></i></a>
        

                <a role="button">
                  <i class="fad fa-arrows" (click)="TextStroke($event)"></i>
                </a>
        
           
            
            </p>
            
            
            <div class="row d-flex" *ngIf="hide1">
                <h6>Choisissez une couleur:</h6>
                <color-circle   [colors]="colorarray" (onChange)="texteclor($event)"></color-circle>  
            </div>

            <div class="row" *ngIf="hide">
              <div class="col">
                <div class="input">
                  <input type="text" class="form-control contre" name="texth" value="45" (input)="textwidth(textwdt)" [(ngModel)]="textwdt">
                  <a class="plus" (click)="plus(textwdt)" role="button"><i class="fal fa-plus-circle c fa-2x "></i></a>
                  <a class="minus" (click)="minus(textwdt)" role="button"><i class="fal fa-minus-circle c fa-2x "></i></a>
     
                </div>
              <label for="Range3" class="form-label text-center">Hauteur:</label>
            <input type="range" class="form-range " name="height" min="40" max="600" step="1" id="R" [(ngModel)]="textwdt" (input)="textwidth(textwdt)">
              </div>
            </div>
            <div class="row" style="display: flex;" *ngIf="hide3">
              <div class="col-6 d-flex">
                <h6>couleur de contour:</h6>
                <color-circle   [colors]="colorarray" (onChange)="strokecolor($event)"></color-circle>  
              </div>

              <div class="col-6 d-flex">
                <h6>couleur d'ombre:</h6>
                <color-circle   [colors]="colorarray" (onChange)="shadowing($event)"></color-circle>  
              </div>
            
            </div>
            



            