  
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>

    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <div class="container " style="position: relative;">
        <div class="row">
          
            <div class="col-6 image">
              <h6>vos visuels</h6>
              <img [src]="url" width="100" alt="">
              <img  [src]="imagepreview " width="100" alt="">
              <br><br><br>
    
              <div class="row">
                <h6>Vos maquettes</h6>
               
                <div class="col-12">
                  <img [src]="viewimage" width="100" alt="">
                  <img [src]="ViewImg" width="100" alt="">
                </div>
              </div>
            </div>
           
            <div class="col-6" >
              <!--Type de tee-shirt-->
              <div class="type_shirt" style="margin-top: 16px;">
                <h6>Type d'emballage</h6>
                <div class="form-check form-switch" *ngIf="sac">
                  <input class="form-check-input" type="checkbox" id="sac" [(ngModel)]="sac" (click)="Isac()" disabled>
                  <label class="form-check-label" for="sac">Sac</label>
                </div>
                <div class="form-check form-switch" *ngIf="sachet">
                  <input class="form-check-input" type="checkbox" id="sachet" [(ngModel)]="sachet" (click)="Isachet()" disabled>
                  <label class="form-check-label" for="sachet">Sachet </label>
                </div>


                <div class="row" *ngIf="sac">
                  <select class="form-select form-select-lg mb-3" aria-label="sacisize" id="mybag" style="width: 55%;" (change)="InputChangeSize_1($event)">
                    <option selected style="font-size: 12px;" value="Choix de la taille du sac (largeur/hauteur) en cm">Choix de la taille du sac (largeur/hauteur) en cm</option>
                    <option *ngFor="let item of size_1" [value]="item">{{item}}</option>
                  </select>

                  <select class="form-select form-select-lg mb-3" aria-label="sacisizecolor" id="mybagcolor" style="width: 55%;" (change)="InputChangeColor($event)">
                    <option selected style="font-size: 12px;" value="Choix de le Nombre de couleur">Choix de le Nombre de couleur</option>
                    <option *ngFor="let item of nbcolor" [value]="item">{{item}}</option>
                  </select>
                  <input name="pri" [(ngModel)]="Cost" hidden>
                  <p *ngIf="shwpr" style="color: red;font-size: 25px; font-family: Georgia, Times New Roman, Times, serif;">
                    Prix: <strong style="font-weight: bold;">{{Cost}}  FCFA</strong>
                  </p>

                </div>

                <div class="row" *ngIf="sachet">
                  <select class="form-select form-select-lg mb-3" aria-label="sacisize" id="mybags" style="width: 55%;" (change)="InputChangeSize_2($event)">
                    <option selected style="font-size: 12px;" value="Choix de la taille du sachet (largeur/hauteur) en cm">Choix de la taille du sachet (largeur/hauteur) en cm</option>
                    <option *ngFor="let item of size_2" [value]="item">{{item}}</option>
                  </select>

              
                        <p style="color: red; font-family: Times New Roman, Times, serif;">Il y a t-il une couleur sur votre design?</p>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="sachetc" (click)="yescolor()" [(ngModel)]="hascolor">
                    <label class="form-check-label" for="sachet">Oui ?</label> 
                  </div>

                
                  <p *ngIf="shwpr_2"  style="color: red;font-size: 25px; font-family: Georgia, Times New Roman, Times, serif;">
                    Prix: {{Cost}}  FCFA
                  </p>

                </div>

              </div>
                <!--fin-->
                 <!--question-->
                 <div class="question">
                  <h6>Y'a-t-il une face arrière?</h6>
                   <div class="oui">
                     <label for="">Oui</label>
                     <input type="radio" name="rd" id="rd"  (click)="View()" >
                   </div>
                   <div class="oui">
                     <label for="">Non</label>
                     <input type="radio" name="rd" id="non" (click)="view2()" >
                   </div>
                 </div>

                
                 <!--fin-->
                  <!--visuel-->
                    <div class="visuel" *ngIf='visible'>
                      <h6>importer vos visuels</h6>
                      <div class="btn btne">
                  
                        <label class="des" for="filess">
                        Face arrière
                          <i class="fas fa-arrow-circle-up fa-2x"></i>
                        </label>
                          <input type="file" name="u" id="filess" hidden (change)="Uplode($event)">
                      </div>
                    </div>
                  <!--fin--> 
                
                 <!--maquette-->
                 <div class="maquette">
                  <h6>Importer vos maquettes:</h6>
                  <div class="btn" >
                    <label class="des" for="file">
                    importe maquette face avant
                    <i class="fas fa-arrow-circle-up fa-2x"></i>
                    </label>
                    <input type="file" name="" id="file" hidden (change)='Uplade($event)'>
                   </div>
                   <div class="btn" *ngIf='visible'>
                    <label class="des" for="fil">
                    importe maquette face arrière
                    <i class="fas fa-arrow-circle-up fa-2x"></i>
                    </label>
                    <input type="file" name="" id="fil" hidden (change)='Upladeimage($event)'>
                   </div>
                 </div>
              <br><br>
           
            
            <!--fin-->
              
  
               <div class="col-6 " style="margin-top:0% ;" *ngIf="haschangetosachet">
                <h1 style="margin-left: 35%;">Quantité</h1>
                <button class="btn" style="width: 20%; margin-left: 35%;" (click)="Mutiplybytwo()">
                      x2
                </button>
                 <span style="margin-left: 40%;">{{bagqty}}</span>

                 <button class="btn" style="width: 20%;margin-left: 35%;" (click)="DivideBytwo()"> :2

                 </button>
               </div>


               <div class="col-6 " style="margin-top:0% ;" *ngIf="haschangetosac">
                <h1 style="margin-left: 35%;">Quantité</h1>
                <button class="btn" style="width: 20%; margin-left: 35%;" (click)="Mutiplybytwo()">
                      x2
                </button>
                 <span style="margin-left: 40%;">{{bagqty}}</span>

                 <button class="btn" style="width: 20%;margin-left: 35%;" (click)="DivideBytwo()"> :2

                 </button>
               </div>


               <br><br><br>
               <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="err">
                <strong>erreur!</strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
               <button class=" btn btn-primary" type="submit" style="float: left;" (click)="ChangeComponent(chanecpt)" style="background-color: royalblue;">Retour</button>

               <button class="btn-success" type="submit" style="float: right;" (click)="Addtocart()">Ajouter au panier</button>
            </div>
        </div>
    </div>
    
