<br><br><br>
<br><br>

<body>

<app-header></app-header>

<div class="container-fluid">
  <app-header-categorie ></app-header-categorie>
</div>

<app-creation *ngIf="CacheCrea" [url]="imagepreview" (changecomponent)="getComponent($event)"></app-creation>

<app-description [data]="details" (changeComponent)="ChangeComponent($event)"></app-description>

<div class="container" *ngIf="cacheClothes">
    <div id="body">
      <div class="row">
       <div>
         <h1>NOTRE GAMME  <span>  DE VETEMENTS</span></h1>
         <br>
         <p style="color:#324161;font-weight:bold;">{{data}}</p>
       </div>
      </div>
    </div>
    <style>
     
    </style>
    <div class="section-personnalisation">
      
      <div class="card-columns">
          
            <div class="card">
              <div class="card-body">
                <button >
                  <label for="file">
                  <div class="imag">
                  <i class="far fa-images fa-5x"  style="color: brown;"></i>
                  
                  <i class="far fa-images fa-5x"  style="color: brown;"></i>
                  </div>
              
                <i class="fal fa-arrow-circle-up fa-3x" style="color: #324161;"></i>
                <h6 style="color: #324161;">Je veux imprimer ma créa!!!</h6>
              </label> 
              <input type="file" class="file-upload" name="files" id="file" (change)='Upload($event)'>
            
            </button>
              </div>
             
            </div>
     
    


        <div class="card"  *ngFor="let item of cltobj">
       
          <div class="img">
            <img class="im" [src]="item.img">
          </div>
          <div class="middle">
            <a class="text btn" [id]="item.clt_id" (click)="showDetails($event)">
            Je personnalise
            </a>
          </div>
          <div class="card-body">
            <p style="font-size: 12px;">{{item.name_cloths}}</p>
           <p class="prix">{{item.price}} <strong>fcfa</strong></p>
          </div>
        </div>
   
       
      </div>
    </div>


<!--
    <div class="section-personnalisation1">
      <div class="txt">
        <p class="txt-yellow">Top Partners</p>
      </div>
      <div class="menu">
        <div class="row produit">
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>  
  <br>
  <br>
  <br>
  <br>
  <br>
</body>
<app-footer></app-footer>
