<br>
<br>
<br>
<br>


<app-aladin [data]="data" *ngIf="data.aladin"></app-aladin>

<div class="grid-container" *ngIf="data.show">

  <div class="row">
    <div class="product">
      <div class="col-6 col-sm-5 products">
        <div class="products-image">
          <div class="product-image">
            <div class="tabs">
              <div class="productimage">
                <div class="image">
                  <img [src]="data.url" class="zoom">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-5 cx">
      <div class="title">
        <h1 class="title-text">{{data.name}} </h1>
      <p>Prix: {{data.price}} FCFA</p>
      </div>
      <div class="description">
        <div class="description-text">
          <ul>

          </ul>
          Type d'impression : <ul>
            <li *ngIf="data.type.fl">Flex</li>
            <li *ngIf="data.type.sg">Sérigraphie</li>

          </ul>
        </div>
        <div class="size">
          Taille :
              <ul>
                <li *ngIf="data.size.m">M</li>
                <li *ngIf="data.size.l">L</li>
                <li *ngIf="data.size.xl">XL</li>
                <li *ngIf="data.size.xxl">XXL</li>

              </ul>

        </div>



       <!----<div class="color">

          <div class="color-text">
            <span>Couleur</span>
          </div>
          <div class="colors">
            <div class="color-one dr">
              <div class="borders"></div>
              <div class="color-option">
                <input type="radio" name="" id="">
              </div>
            </div>
            <div class="color-two dr">
              <div class="borders"></div>
              <div class="color-option">
                <input type="radio" name="" id="">
              </div>
            </div>
            <div class="color-three dr">
              <div class="borders"></div>
              <div class="color-option"></div>
            </div>
            <div class="color-four dr">
              <div class="borders"></div>
              <div class="color-option"></div>
            </div>
          </div>
        </div>
      </div>
-->
</div>
<style>
  a{
    text-decoration: none;
  }
</style>
<div class="btn " (click)="reload(Changevalue)">
  <a >
      Retour
      </a></div>

      <div class="btn bt" >
        <a  (click)="go(data)">
        Je Personnalise
      </a>
    </div>
    <div class="middle">
      <a class="text btn cxs">
        Je personnalise
      </a>
    </div>

    </div>

  </div>
</div>

<div class="grid-container" *ngIf="data.show">
  <div class="row">
    <div class="col-10 dx">
      <div class="title-descript">
        <h3 class="text-size">DESCRIPTION</h3>
      </div>
      <div class="body-descript">
        <p>
            {{data.comment}}
       </p>
      </div>

    </div>
  </div>
</div>






