
<div class="card-columns">


<div class="card" *ngFor ="let item of data " >
    <div class="im" style="display: flex;">

        <img [src]="item.face1" alt="" class="zoom">
        <img [src]="item.face2" alt="" class="zoom">
      </div>
    <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p>{{item.price}}  <strong>fcfa</strong> </p>
        <div class="col-6">
            <button class="btn" [id]="data.indexOf(item)"  data-toggle="modal" data-target="#packmodal" (click)="getProdprice($event)" [name]="item.price">
              Ajouter au panier</button>
          </div>
          <br>
            <div class="col-3 d-flex" style="float: left;">
              <button class="btn btn-block" style="margin-left:0%;float:left">
                <i class="far fa-trash-alt" (click)="removeOneItem($event)" [title]="data.indexOf(item)"></i></button>
              <!--
               <button class="btn btn-block"style="margin-left:10%;float:right ;top:0%" >
                  <i class="fad fa-edit" (click)="removeOneItem($event)" [title]="prod.indexOf(item)"></i></button>
              -->

            </div>
    </div>
</div>

<div class="card" *ngFor ="let item of newdata" >
    <div class="im" style="display: flex;">

        <img [src]="item.face1" alt="" class="zoom">
        <img [src]="item.face2" alt="" class="zoom">
      </div>
    <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p>{{item.price}}  <strong>fcfa</strong> </p>
        <div class="col-6">
            <button class="btn" [id]="data.indexOf(item)"  data-toggle="modal" data-target="#packmodal" (click)="getProdprice($event)" [name]="item.price">
              Ajouter au panier</button>
          </div>
          <br>
            <div class="col-3 d-flex" style="float: left;">
              <button class="btn btn-block" style="margin-left:0%;float:left">
                <i class="far fa-trash-alt" (click)="removeOneItem($event)" [title]="data.indexOf(item)"></i></button>
              <!--
               <button class="btn btn-block"style="margin-left:10%;float:right ;top:0%" >
                  <i class="fad fa-edit" (click)="removeOneItem($event)" [title]="prod.indexOf(item)"></i></button>
              -->

            </div>
    </div>
</div>

<!-- boite dialoge *********************************** -->

<div class="modal fade" id="packmodal"  aria-labelledby="exampModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
  <div class="modal-content">
    <!--
<div class="modal-header">
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" ></button>
        </div>
    -->

      <div class="modal-body">
          <div class="container">
              <div class="row ro">
                <div class="col-8">
                  <h6 *ngIf="hide_calco">Taille </h6>
                  <div class="rad" *ngIf="hide_calco">

                  <div class="M">

                  <label for="s1-packs">20/25</label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="s1-packs" name="s1-packs" [(ngModel)]="size.s1">
                  </div>

                 </div>

                 <div class="M">
                  <label for="s2-packs">25/30 </label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="s2-packs" name="s2-packs" [(ngModel)]="size.s2">
                  </div>
                </div>

                <div class="M">
                  <label for="s3-packs">30/35 </label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="s3-packs" name="s3-packs" [(ngModel)]="size.s3">
                  </div>
              </div>
              <div class="M" >
                <label for="s4-packs">35/45 </label>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="s4-packs" name="s4-packs" [(ngModel)]="size.s4">
                </div>
            </div>
            <div class="M" >
              <label for="s5-packs">45/50 </label>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="s5-packs" name="s5-packs" [(ngModel)]="size.s5">
              </div>
          </div>

        </div>
        <div class="col-8" *ngIf="hide_calco">
          <div class="M2">
            <label for="s6-packs">50/55 </label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="s6-packs" name="s6-packs" [(ngModel)]="size.s6">
            </div>
         </div>
        </div>
              <hr *ngIf="hide_calco">
              <div class="col-2" *ngIf="hide_calco">
                <h6>Types d'impression </h6>
                <label for="serigraphie">Sérigraphie </label>
                <div class="" >
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="serigraphie" name="serigraphie" [(ngModel)]="size.seri">
                  </div>
              </div>
                <!-- <select class="form-select" aria-label="Default select example" (change)="OnTypeChange($event)">
                  <option selected>choisissez type</option>
                  <option *ngIf="item.prod.type.sg" value="serigraphie">Sérigraphie</option>
                </select> -->

              </div>


                 <hr>

                 <div class=" col-8 btn">
                  <a class="dt" data-toggle="collapse" data-target="#info" aria-expanded="false" aria-controls="info" (click)="hidemodal()">Calculer le montant</a>
                </div>

                <div id="info" class="collapse" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                          <div class="modal-body">
                            <p class="to text text-primary">{{price}} XOF</p>

                          <div class="row">
                            <span class="input-number">{{qty}}</span>

                          </div>
                              <div class="row">
                                <a type="button" class="input-number-decrement btn btn-primary" (click)="getPricem()">–100</a>

                                <a type="button" class="input-number-increment btn btn-secondary" (click)="getPrice()">+100</a>
                              </div>

                            <div class="row">
                                <a type="button" class="input-number-increment_div btn btn-secondary" (click)="divide()">:2</a>

                                <a type="button" class="input-number-increment_by btn btn-secondary" (click)="decremet_by()">x2</a>

                              </div>

                          </div>
                          <div class="modal-footer">
                              <a type="button" class="btn btn-primary" (click)="addtocart($event)">
                                <i class="fas fa-cart-plus" ></i>
                              </a>
                          </div>
                      </div>
                  </div>
                </div>

                </div>
              </div>


            </div>
      </div>
  </div>
  </div>
</div>

</div>


