<!--top bar-->
 <div  class="row fixed-top" style="margin-top: 0%;">

    <div class="navbar" style="background: #042341;font-family: Roboto;">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <ul>
              <a>Contact: 2723457302</a>
              <span class="vertical-line"></span>
              <a role="button" (click)='Scroll()' class="nav-link" style="color:#fab91a;">Notre entreprise</a>

            </ul>
          </div>
          <div class="col">

          </div>
          <div class="col faire" style="color: white;">
            <ul>

              <a href="#" class="nav-link" style="color: white;margin-left: 44px;"> Comment ça marche ?</a>
              <span class="col" class="vertical-line">

              </span>

              <a href="#" type="button"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"  class="nav-link con" style="color: white; " *ngIf="isauth==false">
                <i class="fas fa-user" aria-hidden="true"></i>
                Connexion
              </a>

              <div *ngIf="isauth"  style="float:inline-start; width: auto;">Bienvenue <strong style="color: orange; font-size: small;">{{name}} </strong>
              </div>

                <li style="float: right; margin-top: 0%; margin-left: 10%; margin-right: 0%;" *ngIf="isauth">
                  <div class="dropdown">
                    <a style="color: white;" class=" dropdown-toggle"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user fa-x" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                      <a class="dropdown-item" href="/home"><i class="fa fa-home"></i> Acceuil</a>
                      <hr>
                      <a class="dropdown-item" [href]="URL+ID"><i class="fa fa-user fa-x" aria-hidden="true"></i> Mon Compte</a>
                      <hr>
                      <a class="dropdown-item" [href]="URL+ID"><i class="fa fa-edit  fa-x  "></i> Mes commandes</a>
                      <hr>
                      <a class="btn btn-warning" type="submit" (click)="logout($event)">Deconexion</a>
                    </div>
                  </div>
                 </li>


              <div class="modal fade" id="exampleModal"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                  <div class="modal-content">
                    <div class="modal-header">

                      <h5 class="modal-title" id="exampleModalLabel" style="color: #324161;font-size: 34px;font-weight: bold;">Connexion</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="c">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">

                                <form>
                                    <p>Envie de shopper?<i class="fa fa-user fa-2x"
                                      style="margin-left: 10px;color: #324161;"    aria-hidden="true"></i><a href="/users/register" > je m'inscris</a></p><br>
                                   <!---- <p>Envie de vendre?<i  class="fa fa-handshake-o fa-2x"
                                       aria-hidden="true" style="margin-left: 10px;"> </i> <a href="/partners">je deviens partenaire</a></p><br>-->

                                       <div class="mb-3">
                                    <input type="text" class="form-control" name="email"   placeholder="E-mail ou Nom d'utilisateur" [(ngModel)]="data.email">

                                    <div *ngIf="data.erroremail==true" class="alert alert-warning alert-dismissible fade show text-danger">
                                      {{message}}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    </div><br>

                                    <div class="mb-3">
                                    <input type="password" class="form-control" id="pass" name="password" placeholder="Mot de passe" [(ngModel)]="data.password">
                                    <div *ngIf="data.errorpwd==true" class="alert alert-warning alert-dismissible fade show text-danger">
                                      {{data.pwdmsg}}
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    </div>

                                    <div class="mb-3 form-check" >
                                      <input type="checkbox" name="checked" class="checkbox" id="checkbox">

                                    <input type="checkbox" class="form-check-input" style="color: #fab91a;">
                                    <a href="/users/pwdforgot"  style="position: relative ;left:35px;">Mot de passe oublie?</a>
                                    </div>

                                    <div class="d-grid gap-2  mx-auto">
                                      <div class="d-flex justify-content-center" *ngIf="show">
                                        <div class="spinner-border" role="status">
                                          <span class="sr-only">Loading...</span>
                                        </div>
                                      </div>
                                    <button type="submit" class="btn btn btn-lg " style="background:#fab91a;color: white;" (click)="login($event)">Je me connecte</button>
                                   </div>
                                   <br>
                                   <hr>
                                   <br>
                                   <!----
                                    <div class="d-grid gap-2  mx-auto">
                                    <button type="submit" class="btn  btn-lg flex"  style="background:#042341;color: white;"><i  class="fa fa-facebook" style="color: #000;"></i>Se connecter avec Facebook</button>
                                   </div>
                                  -->

                                </form>
                         </div>
                       </div>
                    </div>
                    </div>
            </ul>
          </div>
        </div>
      </div>
  </div>

<nav>
    <div class="nav">
      <div class="logo">
        <a href="/home">
         <img src="/assets/image/logo.png" width="100" height="100">
        </a>
      </div>

       <div class="search_box">
         <input type="search" placeholder="Chercher vos produits ici">
         <a  type="submit" class="nav-link "><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
       <ol>
       <li><a href="/home"  ><i class="fa fa-home fa-x" aria-hidden="true"></i> Acceuil</a></li>

       <input type="number" hidden name="dudu" [(ngModel)]="cart_items"/>

       <li><a href="cart/"><i class="fa fa-shopping-cart fa-x" aria-hidden="true"></i> <span class="badge badge-danger">{{cart_items}}</span></a></li>
       </ol>
       <!-- <label for="check" class="bar">
         <span class="fa fa-bars fa-3x" id="bars"></span>
         <span class="fa fa-times fa-3x" id="times"></span>
       </label> -->
  </div>
</nav>

</div>
