



 <div class="container">
    <h6>Emballages</h6>
 <img *ngFor='let item of packs' [src]="item.img" height="100" width="100" (click)="addNewItem($event)" [id]="item.pack_id" [name]="pack">  
 <ul class="pagination">
     <li class="page-item "><a class="btn page-link" (click)="previouspack()"><i class="fal fa-backward"></i></a></li>
     <li class="page-item active"><a class="page-link link" (click)="currentpack($event)" [id]="pages[0]">{{pages[0]}}</a></li>
     <li class="page-item"><a class="page-link link" (click)="currentpack($event)" [id]="pages[1]">{{pages[1]}}</a></li>
     <li class="page-item"><a class="page-link link" (click)="currentpack($event)" [id]="pages[2]">{{pages[2]}}</a></li>
      <!--<li class="page-item"><a class="page-link link" href="#">4</a></li>
     <li class="page-item"><a class="page-link link" href="#">5</a></li>-->
     <li class="page-item"><a class="btn page-link" (click)="nextpack()"><i class="fal fa-forward"></i></a></li>
   </ul>
 </div>