<br><br>
<br><br><br>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-6" style="border: solid 1px #324161;text-align: center;">
            <h6>Le visuel</h6>
            <img [src]="url" width="50%" alt="">
            <div class="row">
                <h6>La  maquettes</h6>
               
                <div class="col-12">
                  <img [src]="viewimage" width="50%" alt="">
                </div>
              </div>
        </div>
        <div class="col-6">
          
            <br><br>
            <!--type d'impression de bache-->
            <div class="row" *ngIf="estbache">
               
                    <h6>Type d'impression</h6>
                <div class="choix">
                    <input type="radio" class="btn-check" name="options" id="stand" autocomplete="off">
                    <label class="btn btn-outline-danger" for="stand" (click)="showpricestandbache()">Standard (3000 fcfa/m2) </label>
                    <input type="radio" class="btn-check" name="options" id="sup" autocomplete="off">
                    <label class="btn btn-outline-danger" for="sup" (click)="showpricesupbache()">Superieur (7000 fcfa/m2)</label>
                </div> 
            </div>   
            <!--fin-->
             <!--type d'impression de micro perforer-->
             <div class="row" *ngIf="estmicro">
               
                <h6>Type d'impression</h6>
               <div class="choix">
                    <input type="radio" class="btn-check" name="opt" id="standper" autocomplete="off">
                    <label class="btn btn-outline-danger" for="standper" (click)="showpricestandmicro()">Standard (5000 fcfa/m2) </label>
                    <input type="radio" class="btn-check" name="opt" id="super" autocomplete="off">
                    <label class="btn btn-outline-danger" for="super" (click)="showpricesupmicro()">Superieur (10000 fcfa/m2)</label>
                </div> 
           </div>
         
            <!--fin-->
             <!--type d'impression de kakemono-->
             <div class="row" *ngIf="estkake">
                   <h5>Type de support:</h5>
               <div class="col-6">
                <input type="radio" class="btn-check" name="opter" id="petit" autocomplete="off">
                <label class="btn btn-outline-danger" for="petit" (click)="showpetitbas()" >Petit bas </label>

               <div class="choix" *ngIf="petibas">
                  
                    <input type="radio" class="btn-check" name="optus" id="standkake" autocomplete="off">
                    <label class="btn btn-outline-danger" for="standkake" (click)="showpricestandPkake()" >Standard </label>
                    <input type="radio" class="btn-check" name="optus" id="superkake" autocomplete="off">
                    <label class="btn btn-outline-danger" for="superkake" (click)="showpricesupPkake()" >Superieur</label>
                </div>
               </div> 
               <div class="col-6">
                <input type="radio" class="btn-check" name="opter" id="largeb" autocomplete="off">
                <label class="btn btn-outline-danger" for="largeb"(click)="showlargebas()" >Large bas </label>

                <div class="choix" *ngIf="largebas">
                    
                     <input type="radio" class="btn-check" name="optus" id="standkakeb" autocomplete="off">
                     <label class="btn btn-outline-danger" for="standkakeb" (click)="showpricestandLkake()"  >Standard </label>
                     <input type="radio" class="btn-check" name="optus" id="superkakel" autocomplete="off">
                     <label class="btn btn-outline-danger" for="superkakel" (click)="showpricesupLkake()" >Superieur </label>
                 </div> 
                </div>
           </div>

            <!--fin-->
            <!--type d'impression de Vynile-->
            <div class="row" *ngIf="estvinyle" >
                <h5>Type d'impression:</h5>
            <div class="col-6">
             <input type="radio" class="btn-check" name="vynile" id="vine" autocomplete="off">
             <label class="btn btn-outline-danger" for="vine" (click)="showhidestandvine()"  >Standard </label>

            <div class="choix" *ngIf="hidestandvine" style="display: grid;" >
               
                 <input type="radio" class="btn-check" name="optus" id="standvine" autocomplete="off">
                 <label class="btn btn-outline-danger" for="standvine" (click)="showpricestandSD()" >Sans découper(3500 fcfa/m2)</label>
                 <input type="radio" class="btn-check" name="optus" id="supervine" autocomplete="off">
                 <label class="btn btn-outline-danger" for="supervine" (click)="showpricestandD()" >Découper (4500 fcfa/m2)</label>
             </div>
            </div> 
            <div class="col-6">
             <input type="radio" class="btn-check" name="vynile" id="vinile" autocomplete="off">
             <label class="btn btn-outline-danger" for="vinile" (click)="showhidesupvine()" >Supérieur </label>

             <div class="choix" *ngIf="hidesupvine"  style="display: grid;" >
                 
                  <input type="radio" class="btn-check" name="optus" id="standvineb" autocomplete="off">
                  <label class="btn btn-outline-danger" for="standvineb" (click)="showpricesupSD()" >Sans découper (7000 fcfa/m2)</label>
                  <input type="radio" class="btn-check" name="optus" id="supervinel" autocomplete="off">
                  <label class="btn btn-outline-danger" for="supervinel" (click)="showpricesupD()" >Découper (8000 fcfa/m2)</label>
              </div> 
             </div>
        </div>
        <div class="btn btnet" >
            <label class="des" for="file">
            importer la maquette
            <i class="fas fa-arrow-circle-up fa-2x"></i>
            </label>
            <input type="file" name="" id="file" hidden (change)="Uplade($event)" >
           </div>
         <!--fin-->
            <br>   
            <div class="dimension" *ngIf="estbache">  
                <h6> Dimension</h6> 
                <div class="row">
                        <div class="col-sm">
                            <label for="">Longueur</label>
                        <input type="number" class="form-control" [(ngModel)]="longueur" (change)="Change($event)" >
                        </div>
                    <div class="col-sm">
                        <label for="">Largeur</label>
                        <input type="number" class="form-control" [(ngModel)]="largeur" (change)="Change2()">
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="perimetre" hidden>

                    <div class="col-sm">
                        <label for="">Surface</label>
                        <strong style="position: absolute;
                        bottom: 13px;
                        left: 75px;">{{perimetre}} m2</strong>
                    </div>
                    
                </div>
            </div>
            <br><br>
            <div class="prix">
                <h4 ><p class="text-small" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 12px; color: red;">prix unitaire:</p>{{Price}} FCFA</h4>
                <input type="number" hidden [(ngModel)]="Price">
            </div>


            <div class="dimension" *ngIf="estvinyle">  
                <h6> Dimension</h6> 
                <div class="row">
                        <div class="col-sm">
                            <label for="">Longueur</label>
                        <input type="number" class="form-control" [(ngModel)]="longueur" (change)="Change($event)" >
                        </div>
                    <div class="col-sm">
                        <label for="">Largeur</label>
                        <input type="number" class="form-control" [(ngModel)]="largeur" (change)="Change2()">
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="perimetre" hidden>

                    <div class="col-sm">
                        <label for="">Surface</label>
                        <strong style="position: absolute;
                        bottom: 13px;
                        left: 75px;">{{perimetre}} m2</strong>
                    </div>
                    
                </div>
            </div>

            
            <br><br>
            <div class="dimension" *ngIf="estmicro">  
                <h6> Dimension</h6> 
                <div class="row">
                        <div class="col-sm">
                            <label for="">Longueur</label>
                        <input type="number" class="form-control" [(ngModel)]="longueur" (change)="Change($event)" >
                        </div>
                    <div class="col-sm">
                        <label for="">Largeur</label>
                        <input type="number" class="form-control" [(ngModel)]="largeur" (change)="Change2()">
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="perimetre" hidden>

                    <div class="col-sm">
                        <label for="">Surface</label>
                        <strong style="position: absolute;
                        bottom: 13px;
                        left: 75px;">{{perimetre}} m2</strong>
                    </div>
                    
                </div>
            </div>
            <br><br>
            <button class=" btn btn-info"  style="float: left;" (click)="ChangeComponent(changeit)">Retourner</button>

            <button class="btn-success btne" type="submit" style="float: right;">Ajouter au panier</button>
        </div>
        <br><br>
       
    </div>
</div>

<br><br>
<br><br><br>
<br><br>

