.btn-check:checked+.btn-outline-danger{
    border-color: #324161;
    background:transparent;
    box-shadow: 0 0 0 0.10rem #324161;
    color:#324161;


}
.btn-check:hover+.btn-outline-danger{
    background:transparent;
    color:#324161;
}
.btn-check+.btn-outline-danger{
    background:transparent;
    color:#324161;
    border-color:#fab91a;
    text-transform:none;
}
label{
    margin:8px;
    font-weight:bold;
}
.choix{
    display:flex;
}
.btne{
    width: 41%;
    height: 50px;
    margin-right: 66px;
   // margin-top: 236px;
    font-family: 'Poppins';
    font-weight: bold;
    border: none;

}
strong{
    //margin-top: 12px;
    position: absolute;
    //bottom: 61px;

}
.btnet{
    background: #fab91a;
    box-shadow: none;
    border-radius: 36px;
    color: white;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 10px;
    margin: 7px;
}
.btnet:hover{
    background: #fab91a;
    box-shadow: none;
    color: white;
}
@media screen and (max-width:768px) {
    img{
        margin-top: 17px;
    width: 279px;
    }
    .col-6{
        width: 100%;
        border: none;
    }
    .btn-success{
        width: 99.5%;
    }
}
@media screen and (max-width: 768px) and (orientation:landscape){
    img{
        margin-top: 17px;
        width: 403px;
    }
    .col-6{
        width: 100%;
        border: none;
    }
    .btn-success{
        width: 99.5%;
    }
}