
  <br><br><br>
  <br><br><br>
<app-header></app-header>

<app-header-categorie></app-header-categorie>
<body>

  <div class="container">
    <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
  <br><br><br>
    <h1>
      Cette fonctionnalité en cours de conception
      <a class="btn btn-warning" href="/home">
        OK
      </a>
    </h1>
  </div>
  <div class="container" *ngIf="shw">
    <div id="body">
      <div class="image">
        <div class="box-text">
          <p>IMPRESSION DE TOUT SUPPORT PAPIER</p>
          <div class="decouvrir">
            <a style="color: white;" class="btn btn-decouvrir" (click)="View()">Découvrir</a>
          </div>
        </div>
        <div class="box-image">
          <img src="" alt="">
        </div>
      </div>
    </div>
    <div class="section-personnalisation" id="view">
      <div class="row">


        <div class="col-sm-3 perso" *ngFor="let item of printed">
          <div class="img">
            <a [href]="url+item.print_id">
              <img [src]="item.img" >
            </a>
          </div>
          <div class="txt-produit">
            <p>{{item.name_printed}}</p>
          </div>
        </div>

      </div>
    </div>


    <!--
    <div class="section-personnalisation1">
      <div class="txt">
        <p class="txt-yellow">Top Partners</p>
      </div>
      <div class="menu">
        <div class="row produit">
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="perso1">
              <a href="#">
                <img src="assets/image/sac-papier.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
  </div>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
