<br>
<br>
<br>
<br>

<div class="grid-container" *ngIf="data.show">
  <div class="row">
    <div class="product">
      <div class="col-6 col-sm-5 products">
        <div class="products-image">
          <div class="product-image">
            <div class="tabs">
              <div class="productimage">
                <div class="image">
                  <img [src]="data.url" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-5 cx">
      <div class="title">
        <h1 class="title-text">{{data.name}} </h1>
      <p>Prix: {{data.price}} FCFA</p>
      </div>
      <div class="description">
        <div class="description-text">
          <ul>

          </ul>
          Type d'impression : <ul>
            <li *ngIf="data.type.sg">Sérigraphie</li>

          </ul>
        </div>



       <!----<div class="color">

          <div class="color-text">
            <span>Couleur</span>
          </div>
          <div class="colors">
            <div class="color-one dr">
              <div class="borders"></div>
              <div class="color-option">
                <input type="radio" name="" id="">
              </div>
            </div>
            <div class="color-two dr">
              <div class="borders"></div>
              <div class="color-option">
                <input type="radio" name="" id="">
              </div>
            </div>
            <div class="color-three dr">
              <div class="borders"></div>
              <div class="color-option"></div>
            </div>
            <div class="color-four dr">
              <div class="borders"></div>
              <div class="color-option"></div>
            </div>
          </div>
        </div>
      </div>
-->
</div>
<div class="btn " (click)="reload(Changevalue)">
  <a >
      Retour
      </a></div>

      <div class="btn bt"> <a [href]="url+data.id">
        Je Personnalise
      </a></div>

    </div>
  </div>
</div>

<div class="grid-container" *ngIf="data.show">
  <div class="row">
    <div class="col-10 dx">
      <div class="title-descript">
        <h3 class="text-size">DESCRIPTION</h3>
      </div>
      <div class="body-descript">
        <p>
            {{data.comment}}
        </p>
      </div>

    </div>
  </div>
</div>






