<app-header></app-header>

<br><br><br><br><br>
<div class="container-fluid top-fixed">
  <app-header-categorie></app-header-categorie>

</div>
<div class="container-fluid" *ngIf="importcrea">
  <app-import-crea [url]="imagepreview" [estbache]="estbache" [estvinyle]="estvinyle" [estmicro]="estmicro" [estkake]="estkake" (ChangeIt)="changeComponent($event)"></app-import-crea>
  </div>
  <body *ngIf="affichage">
  <br><br><br><br><br>


    <div class="container" >
      <div id="body">
        <div class="header">
          <div class="header-blue" >
            <H5 class="text">
              <span class="text-blue"> IMPRESSION AFFICHE </span>
              <span class="text" >GRAND FORMAT</span>
            </H5>
            <p class="text" >{{data}}</p>
          </div>
        </div>
      </div>
      <div class="section-personnalisation">
        <div class="card-columns">
            <br><br><br>
          <div class="card">
            <div class="card-body" *ngIf="showchoices==false" >
              <button (click)="showmechoices()" >
                <label for="myfile" >
                <div class="imag" style="margin-top:63px">
                <i class="far fa-images fa-3x"  style="color: brown;"></i>

                <i class="far fa-images fa-3x"  style="color: brown;"></i>
                </div>

              <i class="fal fa-arrow-circle-up fa-3x" style="color: #324161;"></i>
              <h6 style="color: #324161;">{{text}}</h6>
              <input type="file" class="file-upload" name="files" [id]="myfile" (change)="Upload($event)" hidden disabled>

            </label>


          </button>


            </div>

            <div class="card-body" *ngIf="showchoices" >
              <button (click)="showmechoices()" >
                <label for="myfile" >
                <div class="imag" style="margin-top:63px">
                <i class="far fa-images fa-3x"  style="color: brown;"></i>

                <i class="far fa-images fa-3x"  style="color: brown;"></i>
                </div>

              <i class="fal fa-arrow-circle-up fa-3x" style="color: #324161;"></i>
              <h6 style="color: #324161;">{{text}}</h6>
              <input type="file" class="file-upload" name="files" [id]="myfile" (change)="Upload($event)" hidden *ngIf="estbache">
              <input type="file" class="file-upload" name="files" [id]="myfile" (change)="Upload($event)" hidden *ngIf="estvinyle">
              <input type="file" class="file-upload" name="files" [id]="myfile" (change)="Upload($event)" hidden *ngIf="estmicro">
              <input type="file" class="file-upload" name="files" [id]="myfile" (change)="Upload($event)" hidden *ngIf="estkake">


            </label>


         </button>

            </div>

            <div class="card-footer" *ngIf="showchoices" style="position: relative; margin: 2x;">


              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="bache" (click)="OnclickBache()" [(ngModel)]="estbache">
                <label class="form-check-label" for="bache">Bache</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="Vinyle" (click)="OnclickVinyle()" [(ngModel)]="estvinyle">
                <label class="form-check-label" for="Vinyle">Vinyle</label>
              </div>

              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="kakemono"[(ngModel)]="estkake"  (click)="OnclickKake()">
                <label class="form-check-label" for="Kakémono">Kakémono</label>
              </div>


              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="micro" [(ngModel)]="estmicro" (click)=" OnclickMicro()">
                <label class="form-check-label" for="micro">Micro-perforé</label>
              </div>


            </div>

          </div>

      <div class="card"  *ngFor="let item of disps">
        <div class="img">
          <img class="im" [src]="item.img">
        </div>
        <div class="middle">
          <a class="text btn" [href]="url+item.disp_id">
          Je personnalise
          </a>
        </div>
        <div class="card-body">
          <p style="font-size: 12px;">{{item.name_display}}</p>
         <p class="prix">{{item.price}} <strong>fcfa</strong></p>
        </div>
      </div>


    </div>

  </div>


    </div>




  </body>

  <br><br><br><br><br><br><br><br>
  <br><br><br><br>
  <br><br>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br>
  <br><br>
  <app-footer></app-footer>
