

    <div class="row" >
        <div class=" f collapse" id="edit">
          <app-aladin-text (newTextPlusEvent)="textwidthplusOne($event)" (newTextWidthtEvent)="textwidth($event)" (newTextMinusEvent)="textwidthminus($event)" (newTextEvent)="createText($event)" (newTextOverlineEvent)="overLineText($event)"  (newTextRemoveEvent)="removeItem()" (newTextFontEvent)="Textfont($event)" (newTextColorEvent)="texteclor($event)" (newTextUnderlineEvent)="underLineText()" (newTextBoldEvent)="boldText($event)" (newTextItalicEvent)="ItalicText($event)" (newTextReturnEvent)="setTextBeforeEdit()" (newTextCopyEvent)="Copy()" (newTextPasteEvent)="Paste()" (newTextStrokeEvent)="setStroke($event)" (newshadowingEvent)="setshdow($event)"></app-aladin-text>
        </div>

      <div id='mycol' class="mycol">
        <style>
          .container-fluid {
        align-items: center;
        justify-content: center;
        width: 100%;
        position: flexa;

      }
        .f{
            height: 224px;
            bottom: auto;
            top: auto;
            position: relative;
          }

        @media screen and (min-width: 680px) {

      #mycol{
      height: auto;
      width: auto;
      margin-left: 80px;
      margin-right: 10%;
      background: #fff !important;
      margin-right: 0px;
      text-transform: lowercase;
      font-family: 'Times New Roman', Times, serif;
      border-radius: 15px white solid;
      text-align: center;
      margin-top: 0%;
      }
      .d{
        display: none;
      }

      }

      @media screen and (max-width: 680px) {
      #mycol{
      display: none;
      }
      .d{
        width: auto;
      }
      .f{
        width: auto;
      }

      }

      .btn{
        text-transform: lowercase;
      }
       </style>

        <div class="row auto-max">

          <a class="btn"  data-toggle="modal" data-target="#products" title="Les produits">Produits</a>

         </div>

         <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">


        <div class="row auto-max">

          <a class="btn" data-toggle="modal" data-target="#shape" title="Les formes"><i class="fa fa-shapes"></i></a>

         </div>

         <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">

        <div class="row auto-max">
          <a class="btn"  data-toggle="modal" data-target="#clips" title="Les cliparts" ><i class="fab fa-artstation"></i></a>

         </div>
         <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">

         <div class="row auto-max">

            <input type="file" id="file" name="link"class="file-upload" (change)="onFileUpload($event)">

            <a class="btn" ><label for="file" class="importer" title="  Importer ma marquete"><i class="fas fa-cloud-upload-alt"></i></label></a>
         </div>
         <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">

         <div class="row auto-max" data-toggle="tooltip" data-placement="top" title="mes designs" >

          <a class="btn " data-toggle="modal" data-target="#detail" title="Mes designs"> Je passe ma commande</a>
      </div>
      <hr style="background: #fff !important;box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1); border: #324161 dashed 2px;">

      <!----

      <div class="row auto-min">
        <span class="col" data-toggle="tooltip" data-placement="top" title="couleur du produit"  style="color: #324161;">

          <a  class="btn "  data-toggle="collapse" data-target="#couleur" aria-expanded="false" aria-controls="couleur" id="clr" >
          Couleur DU PRODUIT
          </a>
        </span>
      </div>
    -->
      </div>

            <div class="col-4" id="aladin-wraper" >

                  <div class=" text-danger d-flex justify-content-center"(contextmenu)="OnRightClick($event)">

                    <canvas id="aladin" height="600" width="600" >
                    </canvas>

               <div class="row">

                <div class="col collapse" id="couleur">
                  <color-circle [colors]="colors" (onChange)="changeComplete($event)"></color-circle>
                </div>

            <div class="col-1" >
          <a class="btn btn-lg btn-success" (click)="savedesigns()" data-toggle="tooltip" data-placement="top" title="Enregistrer le design"><i class="far fa-save fa-7x"></i></a>

          <a  class="btn-lg btn btn-primary"  data-toggle="collapse" data-target="#edit" aria-expanded="false" aria-controls="edit">
            <i class="fas fa-pen-alt" data-toggle="tooltip" data-placement="top" title="ecrire du texte"></i>
          </a>

      </div>

                <app-aladin-faces [URL]="face1" [face1]="face2" (newItemEvent)="turnImage($event)" ></app-aladin-faces>



                <button class="btn " type="button" disabled style="top: 0%; position:absolute; bottom: 5%;" *ngIf="spinner">
                  <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
                  Loading...
                </button>

               </div>

                    <a data-toggle="modal" data-target="#examleModal" id="xdv" hidden>
                    </a>


        <div class="modal fade" id="examleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-body modale">
                <a  data-toggle="tooltip" data-placement="top" title="Mettre en gras" (click)="boldText($event)">
                <i  class="fa fa-bold"></i>
                </a>
                <a  data-toggle="tooltip" data-placement="top" title="Italic" (click)="ItalicText($event)">
                <i class="fa fa-italic"></i>
                </a>
                <a  data-toggle="tooltip" data-placement="top" title="Sourligner" (click)="underLineText()">
                <i class="fa fa-underline"></i>
              </a>

                <a  data-toggle="tooltip" data-placement="top" title="Supprimer" (click)='removeItem()'>
                <i style="color: red;" class="fa fa-trash-alt"></i>
                </a>
                <a  data-toggle="tooltip" data-placement="top" title="Copier" (click)="Copy()">
                <i class="fa fa-copy"></i>
                </a>
                <a  data-toggle="tooltip" data-placement="top" title="Coller" (click)="Paste()">
                <i class="fa fa-paste"></i>
                </a>
                <a  data-toggle="tooltip" data-placement="top" title="annulé" (click)="setTextBeforeEdit()">
                <i class="fa fa-sync"></i>
                </a>
                <color-circle [colors]="colorarray" (onChange)="texteclor($event)"></color-circle>

              </div>

            </div>

          </div>
        </div>
           </div>
            </div>
      </div>

      <div id="detail" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm modal-lg">
            <div class="modal-content">
                <div class="modal-body">
             <app-aladin-designs [newpackdata]="newdatapack" ></app-aladin-designs>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
      </div>

        <div class="modal fade " id="products">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body col">

                <app-aladin-products (addpack)="setImage($event)"></app-aladin-products>


                </div>
              <div class="modal-footer col-lg-2 col-md-3">
                <button type="button" class="btn btn-lg btn-block text-white float-right" id="closept" data-dismiss="modal" style="background-color: #324161; text-align: center;">fermer</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade " id="clips">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body col">


                <app-aladin-cliparts (newItemEvent)="setItem($event)"></app-aladin-cliparts>


                </div>
              <div class="modal-footer col-lg-2 col-md-3 ">
                <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center;">fermer</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="shape">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
              <div class="modal-body col">

               <app-aladin-shapes (newItemEvent)="setItem($event)"></app-aladin-shapes>

                 </div>
              <div class="modal-footer col-lg-2 col-md-3 ">
                <button type="button" class="btn  btn-block text-white float-right" data-dismiss="modal" style="background-color: #324161; text-align: center;">fermer</button>
              </div>
            </div>
          </div>



      <!--jxj-->

      <div class="row d" >
        <div class="col d-flex " style="background: #fff !important; margin-left: 5%;">
      <a  class="auto-max btn"  data-toggle="modal" data-target="#products">produits</a>
      <div class="vl" ></div>

      <a class="btn auto-max" data-toggle="modal" data-target="#shape" ><i class="fa fa-shapes"></i></a>
      <div class="vl" ></div>

      <a class="btn auto-max"  data-toggle="modal" data-target="#clips" ><i class="fab fa-artstation"></i></a>
      <div class="vl" ></div>

      <input type="file" id="file" name="link"class="file-upload" (change)="onFileUpload($event)">
      <img  (click)="setItem($event)" hidden id="imgup">

      <a class="btn auto-max" ><label for="file" class="importer"><i class="fas fa-cloud-upload-alt"></i></label></a>
      <div class="vl" ></div>

      <a class="btn auto-max text-primary" data-toggle="modal" data-target="#detail" >Je passe me commande </a>
      <div class="vl" ></div>
      <style>
        .vl{
          border-left: 2px dashed blue;
        height: auto;
        background: white !important;
        }
      </style>

      <span class="auto-max" data-toggle="tooltip" data-placement="top" title="couleur du produit"  style="color: #324161;">
        <a  class="btn auto-max text-primary"  data-toggle="collapse" data-target="#couleur" aria-expanded="false" aria-controls="couleur" id="clr" >
       COULEUR DU PRODUIT
        </a>
      </span>
        </div>

    </div>

</div>

